<div class="container" style="font-size: 0.9rem; max-width: 1000px;">

    <div class="" style="margin-top: 1rem;">
        <div class="text-center">
            <p style="font-size: medium;"> {{nombreCurso}}</p>
            <p style="font-size: small;">Seleccione un Estudiante</p>
        </div>
        <div style="text-align: left; margin-bottom: 10px;">
            <p-button label="Regresar" icon="pi pi-chevron-left" class="mr-2" (click)="regresar()"></p-button>
        </div>
    </div>

    <br>

    <ng-container *ngIf="loading">
        <p-skeleton [height]="'8vh'" [width]="'100%'" [style]="{ 'margin-bottom': '10px' }"></p-skeleton>
        <p-skeleton [height]="'8vh'" [width]="'100%'" [style]="{ 'margin-bottom': '10px' }"></p-skeleton>
        <p-skeleton [height]="'8vh'" [width]="'100%'" [style]="{ 'margin-bottom': '10px' }"></p-skeleton>
        <p-skeleton [height]="'8vh'" [width]="'100%'" [style]="{ 'margin-bottom': '10px' }"></p-skeleton>
        <p-skeleton [height]="'8vh'" [width]="'100%'" [style]="{ 'margin-bottom': '10px' }"></p-skeleton>
        <p-skeleton [height]="'8vh'" [width]="'100%'" [style]="{ 'margin-bottom': '10px' }"></p-skeleton>
    </ng-container>

    <p-table #dt *ngIf="!loading" [value]="estudiantes" [responsiveLayout]="'scroll'" styleClass="p-datatable-striped p-datatable-sm ">
        <ng-template pTemplate="header">
            <tr style="font-size: small;">
                <th>#</th>
                <th>Estudiante</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-i="rowIndex">
            <tr style="height: 8vh; cursor: pointer;" (click)="seleccionarEstudiante(rowData)">
                <td style="font-size: small;">{{ i + 1 }}</td>
                <td style="font-size: small;">{{ rowData.apellidosNombres }}</td>

            </tr>
        </ng-template>


    </p-table>

</div>