<p-toast />
<h1 mat-dialog-title>Curso</h1>
<div mat-dialog-content class="mt-3 pt-2">
    <form [formGroup]="cursoProfesorForm" (ngSubmit)="onSubmit()">

        <input type="text" formControlName="id" class="form-control"  readonly hidden>
        <input type="text" formControlName="user_id" class="form-control" readonly hidden> 

        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12" style="margin-left: auto; margin-right: 0;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Curso</mat-label>
                        <mat-select formControlName="curso_id" >
                            <mat-option *ngFor="let curso of cursos"
                                [value]="curso.id">{{curso.codigo}} / {{curso.nivel.nombre}} - {{curso.subnivel.nombre}} - {{curso.grado.nombre}} - {{curso.paralelo.nombre}} - {{curso.jornada.nombre}}</mat-option>
                        </mat-select>
                        
                        @if (curso.invalid) {
                        <mat-error> {{errorMessage}}</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Asignatura</mat-label>
                        <mat-select formControlName="asignatura_id" multiple="{{seleccionMultiple}}">
                            <mat-option *ngFor="let asignatura of asignaturas"
                                [value]="asignatura.id">{{asignatura.nombre}}</mat-option>
                        </mat-select>
                        
                        @if (asignatura.invalid) {
                        <mat-error> {{errorMessage}}</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            
        </div>

        <div mat-dialog-actions align="end" style="align-items: end;">
            <button mat-button type="button" (click)="onCancel()">Cancelar</button>
            <button mat-flat-button type="submit" [color]="color">Guardar</button>
        </div>


    </form>
</div>