<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-10" style="margin-top: 2.5%;">
            <div class="card">
                <section>

                    <div class="div-button-row">
                        <div class="div-flex-container">
                            <div class="div-button-container">
                                <button mat-fab color="primary" matTooltip="Regresar"
                                    routerLink="/administracion-usuarios">
                                    <mat-icon>keyboard_arrow_left</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>

                <form [formGroup]="userDetailsForm">
                    <input type="text" formControlName="user_id" class="form-control" id="inputId" hidden readonly>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-10">
                                <p style="font-size: x-large;">Informacion Personal</p>
                            </div>
                            <div class="col-md-2 mt-4"><!--  -->

                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-3">
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>Nombres</mat-label>
                                    <input matInput formControlName="user_firstname" />
                                    @if (firstname.invalid) {
                                    <mat-error> {{errorRequiredMessage}}</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput formControlName="user_lastname" />
                                    @if (lastname.invalid) {
                                    <mat-error> {{errorRequiredMessage}}</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field style="width: 70%;" appearance="outline">
                                    <mat-label>Cédula Identidad</mat-label>
                                    <input matInput formControlName="user_username" />
                                    @if (username.invalid) {
                                    <mat-error> {{errorRequiredMessage}}</mat-error>
                                    }
                                </mat-form-field><button mat-mini-fab class="ml-3" [color]="color"
                                    matTooltip="El número de cédula corresponde a su nombre de usuario">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </div>

                            <div class="col-md-3">
                                <section>
                                    <div class="div-label">
                                        <h5> Acciones</h5>
                                    </div>
                                </section>
                                <mat-divider></mat-divider>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="pt-3 pb-3">Habilitar Usuario</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="div-button-row pt-3 pb-3">
                                            <mat-slide-toggle formControlName="user_estado_usuario" [color]="color"
                                                [checked]="user_estado_usuario">
                                            </mat-slide-toggle>
                                            <!-- <p-toggleButton [(ngModel)]="user_estado_usuario" onLabel="Activo" offLabel="Inactivo" /> -->
                                        </div>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class=" pt-2 pb-3">Restablecer contraseña</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="div-button-row pt-1">
                                            <button mat-raised-button
                                                (click)="dialogoResetearContrasenia()"><mat-icon>refresh</mat-icon>Restablecer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <p-divider />


                <div class="row">
                    <div class="col-md-10">
                        <p style="font-size: x-large;">Cursos</p>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

                <p-toast />
                <p-toolbar styleClass="mb-4 gap-2">
                    <ng-template pTemplate="left">

                        <p-button pRipple severity="success" label="New" icon="pi pi-plus" class="mr-2" (click)="openNuevoCurso()" />
                        <p-button pRipple severity="danger" label="Delete" icon="pi pi-trash" />
                    </ng-template>


                    <ng-template pTemplate="right">
                        <button mat-flat-button type="submit" disabled="false" [color]="color" class="mr-3" (click)="openNuevoCurso()"> <i
                                class="fa fa-add" style="padding-right: 15px;"></i> Agregar Curso</button>
                        <p-button pRipple severity="help" label="Export" icon="pi pi-upload" />
                    </ng-template>
                </p-toolbar>


                <p-dialog [(visible)]="agregarCursoDialog"  header="Agregar Curso"  [style]="{ width: '550px' }" 
                    [modal]="true">
                    <ng-template pTemplate="content">
                        <div class="field">
                            <label for="cursoNombre">Nombre</label>
                            <input 
                                type="text" 
                               
                                pInputText 
                                id="cursoNombre" 
                                [(ngModel)]="curso.nombre" 
                                required 
                                autofocus />
                            <small class="p-error" *ngIf="submitted && !curso.nombre">
                                Obligatorio.
                            </small>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button 
                            pRipple 
                            label="Cancel" 
                            icon="pi pi-times" 
                            [text]="true" 
                            (click)="hideDialog()" />
                        <p-button 
                            pRipple 
                            label="Save" 
                            icon="pi pi-check" 
                            [text]="true" 
                            (click)="agregarCurso()" />
                    </ng-template>
                </p-dialog>





                <p-divider />
                <p> el id es {{userId}}</p>
                <p-divider />
                <p> el id es {{userId}}</p>
                <div class="container mt-5 text-center">
                    <div class="row">
                        <div class="btn-group">
                            <button class="btn btn-outline-danger" (click)="dialogoCancelar()">
                                <i class="fa fa-times"></i>
                                Cancelar</button>
                            <button type="submit" (click)="dialogoGuardarInformacion()" class="btn btn-success ml-3">
                                <i class="fa fa-check"></i>
                                Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>

