<div class="container-page">
    <div class="card">
        mis Cursos
        <div class="grid">
            <div class="col-4" style="" *ngFor="let cursoProfesor of cursosProfesor; let i = index">
                <div class=" p-3 border-round-sm">
                    <p-card [style]="{'margin-bottom': '0em', 'min-height': '20rem'}" styleClass="shadow-5">
                        <ng-template pTemplate="header">
                            <div [style]="{'min-height': '0rem'}" class="p-4 border-round-sm"
                                (click)="navegarADetalle(cursoProfesor.id)"
                                style="cursor: pointer; background-color: #929FDD;" pTooltip="Ver Curso">
                                <p style="font-size: large;"><strong> {{ cursoProfesor.asignatura.nombre }}</strong></p>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="subtitle">
                            <i class="pi pi-book" style="font-size: 1.5rem"></i> - {{ cursoProfesor.curso.codigo }}
                        </ng-template>
                        <p>
                            {{ cursoProfesor.curso.nivel.nombre }} - {{ cursoProfesor.curso.subnivel.nombre }} -
                            {{ cursoProfesor.curso.grado.nombre }} - {{ cursoProfesor.curso.paralelo.nombre }} -
                            {{ cursoProfesor.curso.jornada.nombre }}
                        </p>
                    </p-card>
                </div>
            </div>
        </div>
            <div class="grid">
                <div class="col-6" *ngFor="let cursoProfesor of cursosProfesor; let i = index">
                    <div class="card">
                        <h5>{{cursoProfesor.asignatura.nombre}}</h5>
                        <p-chart type="line" [data]="data[i]" [options]="options" />
                    </div>
                </div>
            </div>
    </div>
</div>