<p-toast />
<div class="container-page">
    <div class="card">

        <div class="flex overflow-hidden">
            <div class="flex-none flex align-items-center justify-content-center">
                <div class="div-button-row">
                    <div class="div-flex-container">
                        <div class="div-button-container">
                            <button mat-fab color="primary" matTooltip="Regresar" routerLink="/mis-cursos">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-none flex align-items-center justify-content-center">
                <p-table #dtCurso [value]="cursosProfesor" dataKey="id" [rows]="10"
                    [tableStyle]="{ 'min-width': '75rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Curso</th>
                            <th>Código del Curso</th>
                            <th>Asignatura</th>
                            <th>Profesor</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-cursoProfesor>
                        <tr>
                            <td>{{ cursoProfesor.curso.nivel.nombre }} - {{ cursoProfesor.curso.subnivel.nombre }} - {{
                                cursoProfesor.curso.grado.nombre }} - {{ cursoProfesor.curso.paralelo.nombre }} - {{
                                cursoProfesor.curso.jornada.nombre }}</td>
                            <td>{{ cursoProfesor.curso.codigo }}</td>
                            <td>{{ cursoProfesor.asignatura.nombre }}</td>
                            <td>{{ cursoProfesor.user.firstname }} {{ cursoProfesor.user.lastname }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>



        <p-table #dtEstudiante [value]="estudiantes" dataKey="id" [rows]="100" [loading]="loading"
            styleClass="p-datatable-striped p-datatable-sm" [globalFilterFields]="['apellidosNombres', 'cedula']"
            [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                        class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPDF()"
                        class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                    <div style="text-align: center; align-content: center;">
                        <p>{{cursoProfesor?.asignatura.nombre}}</p>
                    </div>

                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" placeholder="Buscar estudiante..."
                            (input)="dtEstudiante.filterGlobal($any($event.target).value, 'contains')" />
                    </p-iconField>
                    
                    <button mat-mini-fab class="ml-3"
                        matTooltip="Autoguardado: los cambios se aplicarán automáticamente al registrar la nota">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="apellidosNombres">
                        Apellidos y Nombres Completos<p-sortIcon field="apellidosNombres" />
                    </th>

                    <th pSortableColumn="cedula">
                        Cédula<p-sortIcon field="cedula" />
                    </th>

                    <th pSortableColumn="notaT1" colspan="2" style="text-align: center;">
                        Trimestre I <p-sortIcon field="notaT1" />
                    </th>

                    <th pSortableColumn="notaT2" colspan="2" style="text-align: center;">
                        Trimestre II <p-sortIcon field="notaT2" />
                    </th>

                    <th pSortableColumn="notaT3" colspan="2" style="text-align: center;">
                        Trimestre III <p-sortIcon field="notaT3" />
                    </th>

                    <th pSortableColumn="notaFinal" colspan="2" style="text-align: center;">
                        Promedio <p-sortIcon field="notaFinal" />
                    </th>

                    <th pSortableColumn="notaSupletorio" style="text-align: center;">
                        Supletorio<p-sortIcon field="notaSupletorio" />
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-estudianteRow>
                <tr>
                    <td>
                        {{ estudianteRow.apellidosNombres }}
                    </td>

                    <td>
                        {{ estudianteRow.cedula }}
                    </td>
                    <td class="borde-izq" style="text-align: center;">
                        <p-inputNumber [(ngModel)]="estudianteRow.notaT1" mode="decimal" [minFractionDigits]="1"
                            styleClass="input-styling" placeholder="0,00" [maxlength]="4" outlined
                            [maxFractionDigits]="2" [min]="0" [max]="10" (onBlur)="changePage(estudianteRow)" />
                    </td>
                    <td style="text-align: center;">
                        <span class="circle-nota-cualitativa ml-3"
                            [ngStyle]="{'background-color': getNotaColorBackground(estudianteRow.notaT1), 'color': getNotaColorText(estudianteRow.notaT1)}">
                            {{convertirCulitativo(estudianteRow.notaT1)}}</span>
                    </td>

                    <td class="borde-izq" style="text-align: center;">
                        <p-inputNumber [(ngModel)]="estudianteRow.notaT2" mode="decimal" [minFractionDigits]="1"
                            styleClass="input-styling" placeholder="0,00" [maxlength]="4" outlined
                            [maxFractionDigits]="2" [min]="0" [max]="10" (onBlur)="changePage(estudianteRow)" />
                    </td>
                    <td style="text-align: center;">
                        <span class="circle-nota-cualitativa ml-3"
                            [ngStyle]="{'background-color': getNotaColorBackground(estudianteRow.notaT2), 'color': getNotaColorText(estudianteRow.notaT2)}">
                            {{convertirCulitativo(estudianteRow.notaT2)}}</span>
                    </td>

                    <td class="borde-izq" style="text-align: center;">
                        <p-inputNumber [(ngModel)]="estudianteRow.notaT3" mode="decimal" [minFractionDigits]="1"
                            styleClass="input-styling" placeholder="0,00" [maxlength]="4" outlined
                            [maxFractionDigits]="2" [min]="0" [max]="10" (onBlur)="changePage(estudianteRow)" />
                    </td>
                    <td style="text-align: center;">
                        <span class="circle-nota-cualitativa ml-3"
                            [ngStyle]="{'background-color': getNotaColorBackground(estudianteRow.notaT3), 'color': getNotaColorText(estudianteRow.notaT3)}">
                            {{convertirCulitativo(estudianteRow.notaT3)}}</span>
                    </td>

                    <td class="borde-izq" style="text-align: center;">
                        <p-inputNumber
                            [ngModel]="redondearNotaFinal(estudianteRow.notaT1,estudianteRow.notaT2,estudianteRow.notaT3)"
                            mode="decimal" [minFractionDigits]="1" [disabled]="true" styleClass="input-styling"
                            placeholder="0,00" [maxlength]="4" outlined [maxFractionDigits]="2" [min]="0" [max]="10"
                            (onInput)="changePage(estudianteRow)" />

                    </td>
                    <td style="text-align: center;">
                        <span class="circle-nota-cualitativa ml-3"
                            [ngStyle]="{'background-color': getNotaColorBackground((estudianteRow.notaT1+estudianteRow.notaT2+estudianteRow.notaT3)/3), 'color': getNotaColorText((estudianteRow.notaT1+estudianteRow.notaT2+estudianteRow.notaT3)/3)}">
                            {{convertirCulitativo((estudianteRow.notaT1+estudianteRow.notaT2+estudianteRow.notaT3)/3)}}</span>
                    </td>

                    <td class="borde-izq" style="text-align: center;">
                        <p-inputNumber [(ngModel)]="estudianteRow.notaSupletorio" mode="decimal" [minFractionDigits]="1"
                            styleClass="input-styling" placeholder="0,00" [maxlength]="4" outlined
                            [maxFractionDigits]="2" [min]="0" [max]="10" (onBlur)="changePage(estudianteRow)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>