<div class="container-page">
    <div class="card">

        <div class="row">
            <div class="col-md-10">
                <p style="font-size: x-large;">Mis Cursos</p>
            </div>
            <div class="col-md-2">
            </div>
        </div>


        <p-table #dt [value]="cursosProfesor" [rows]="10" [paginator]="true" styleClass="p-datatable-striped p-datatable-sm"
            [globalFilterFields]="['codigo', 'nivel.nombre','subnivel.nombre', 'grado.nombre','paralelo.nombre', 'jornada.nombre', 'asignatura.nombre'] "
            [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id" [rowsPerPageOptions]="[5, 10, 20]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="curso.codigo">
                        Código <p-sortIcon field="curso.codigo" />
                    </th>
                    <th pSortableColumn="curso.nivel.nombre">
                        Nivel <p-sortIcon field="curso.nivel.nombre" />
                    </th>
                    <th pSortableColumn="curso.subnivel.nombre">
                        SubNivel <p-sortIcon field="curso.subnivel.nombre" />
                    </th>
                    <th pSortableColumn="curso.grado.nombre">
                        Grado <p-sortIcon field="curso.grado.nombre" />
                    </th>
                    <th pSortableColumn="curso.paralelo.nombre">
                        Paralelo <p-sortIcon field="curso.paralelo.nombre" />
                    </th>
                    <th pSortableColumn="curso.jornada.nombre">
                        Jornada <p-sortIcon field="curso.jornada.nombre" />
                    </th>
                    <th pSortableColumn="asignatura.nombre">
                        Asignatura <p-sortIcon field="asignatura.nombre" />
                    </th>
                    <th>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-cursoProfesorRow>
                <tr>
                    <td>
                        {{ cursoProfesorRow.curso.codigo }}
                    </td>
                    <td>
                        {{ cursoProfesorRow.curso.nivel.nombre }}
                    </td>
                    <td>
                        {{ cursoProfesorRow.curso.subnivel.nombre }}
                    </td>
                    <td>
                        {{ cursoProfesorRow.curso.grado.nombre }}
                    </td>
                    <td>
                        {{ cursoProfesorRow.curso.paralelo.nombre }}
                    </td>
                    <td>
                        {{ cursoProfesorRow.curso.jornada.nombre }}
                    </td>
                    <td>
                        {{ cursoProfesorRow.asignatura.nombre }}
                    </td>
                    <td>
                        <p-button pRipple icon="pi pi-eye" severity="info" [rounded]="true" [outlined]="true"
                            pTooltip="Ver Curso" class="mr-2" (click)="verCursoProfesor(cursoProfesorRow)"/>
                    </td>
                </tr>
            </ng-template>


        </p-table>



    </div>
</div>