<div class="container-page">
    <div class="card">
        <div class="row">
            <div class="col-md-10">
                <p style="font-size: x-large;">Cursos</p>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <p-toast />
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Buscar curso.."
                        (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                </span>
            </ng-template>

            <ng-template pTemplate="right">

                <p-button icon="pi pi-plus" class="mr-2" label="Nuevo" (click)="dialogAgregarCurso()" />


            </ng-template>
        </p-toolbar>

        

        <p-table #dt [value]="cursos" [rows]="10" [paginator]="true" styleClass="p-datatable-striped p-datatable-sm"
            [globalFilterFields]="['nivel.nombre','subnivel.nombre', 'grado.nombre','paralelo.nombre','user.firstname','user.lastname', 'jornada.nombre', 'descripcion', 'codigo'] "
            [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id" [rowsPerPageOptions]="[5, 10, 20]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nivel.nombre">
                        Nivel <p-sortIcon field="nivel.nombre" />
                    </th>
                    <th pSortableColumn="subnivel.nombre">
                        SubNivel <p-sortIcon field="subnivel.nombre" />
                    </th>
                    <th pSortableColumn="grado.nombre">
                        Grado <p-sortIcon field="grado.nombre" />
                    </th>
                    <th pSortableColumn="paralelo.nombre">
                        Paralelo <p-sortIcon field="paralelo.nombre" />
                    </th>
                    <th pSortableColumn="jornada.nombre">
                        Jornada <p-sortIcon field="jornada.nombre" />
                    </th>
                    <th pSortableColumn="user.firstname">
                        Tutor <p-sortIcon field="user.firstname" />
                    </th>
                    <th pSortableColumn="descripcion">
                        Descripcion <p-sortIcon field="descripcion" />
                    </th>
                    <th pSortableColumn="codigo">
                        Código <p-sortIcon field="codigo" />
                    </th>

                    <th>
                        Acciones
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-cursoRow>
                <tr>
                    <td>
                        {{ cursoRow.nivel.nombre }}
                    </td>
                    <td>
                        {{ cursoRow.subnivel.nombre }}
                    </td>
                    <td>
                        {{ cursoRow.grado.nombre }}
                    </td>
                    <td>
                        {{ cursoRow.paralelo.nombre }}
                    </td>
                    <td>
                        {{ cursoRow.jornada.nombre }}
                    </td>
                    <td>
                        {{ cursoRow.user ? cursoRow.user.firstname : null}} {{ cursoRow.user ? cursoRow.user.lastname : null }}
                    </td>
                    <td>
                        {{ cursoRow.descripcion }}
                    </td>
                    <td>
                        {{ cursoRow.codigo }}
                    </td>


                    <td>
                        <p-button pRipple icon="pi pi-pencil" severity="success" [rounded]="true" [outlined]="true"
                            pTooltip="Editar Curso" class="mr-2" (click)="editarCurso(cursoRow)" />
                        <!-- <p-button pRipple icon="pi pi-trash" severity="warning" [rounded]="true" [outlined]="true"
                            pTooltip="Eliminar Curso" class="mr-2" (click)="eliminarCurso(cursoRow)" /> -->
                    </td>
                </tr>
            </ng-template>


        </p-table>

    </div>



</div>