

<div class="container-page">
    <div class="card">
        <p-table #dt [value]="estudiantes" dataKey="id" styleClass="p-datatable-striped p-datatable-sm"
            [loading]="loading" [globalFilterFields]="['nombres', 'apellidosNombres', 'cedula', 'curso.codigo']"
            [tableStyle]="{ 'min-width': '75rem;'}" [scrollable]="true" scrollHeight="100vh" [rows]="100">
            <!-- <ng-template pTemplate="caption">
                <div class="flex">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" placeholder="Buscar estudiante..."
                            (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                    </p-iconField>
                </div>
            </ng-template> -->
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        #
                    </th>
                    <th pSortableColumn="apellidosNombres">
                        Apellidos Nombres<p-sortIcon field="apellidosNombres" />
                    </th>
                    <th>
                        Cedula
                    </th>
                    <th pSortableColumn="curso.codigo">
                        Grado / Curso <p-sortIcon field="curso.codigo" />
                    </th>
                    <th></th>
                    <th pSortableColumn="estado">Estado <p-sortIcon field="estado" /></th>
                </tr>
                <tr>
                    <th> </th>
                    <th>
                        <p-columnFilter type="text" field="apellidosNombres" placeholder="Bucar por Apellidos o Nombres"
                            matchMode="contains" />
                    </th>
                    <th>
                        <p-columnFilter type="text" field="cedula" placeholder="Bucar por Cédula"
                            matchMode="contains" />
                    </th>
                    <th>
                        <p-columnFilter type="text" field="curso.codigo" placeholder="Bucar por Código de Curso"
                            matchMode="contains" />
                    </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-estudianteRow let-rowIndex="rowIndex">
                <tr>
                    <td>
                        {{rowIndex+1}}
                    </td>
                    <td>
                        {{ estudianteRow.apellidosNombres }}
                    </td>
                    <td>
                        {{ estudianteRow.cedula }}
                    </td>
                    <td>
                        <strong>{{ estudianteRow.curso ? estudianteRow.curso.codigo : null}}</strong>/
                        {{ estudianteRow.curso ? estudianteRow.curso.nivel.nombre : null}} -
                        {{ estudianteRow.curso ? estudianteRow.curso.subnivel.nombre : null }} -
                        <strong>{{ estudianteRow.curso ? estudianteRow.curso.grado.nombre : null }}</strong> -
                        <strong>{{estudianteRow.curso ? estudianteRow.curso.paralelo.nombre : null}}</strong> -
                        {{ estudianteRow.curso ? estudianteRow.curso.jornada.nombre : null}}
                    </td>
                    <td>
                        <p-button pRipple icon="pi pi-pencil" severity="success" [rounded]="true" [outlined]="true"
                            pTooltip="Editar Estudiante" class="mr-2" (click)="editarEstudiante(estudianteRow)" />
                    </td>
                    <td>
                        <p-toggleButton [(ngModel)]="estudianteRow.estado" onLabel="Activo" [onIcon]="onIcion"
                            offIcon="pi pi-ban" offLabel="Inactivo"
                            (onChange)="activarDesactivar($event, estudianteRow)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>