<div class="container-page">
    <div class="card">
        <p-table #dtCurso [value]="cursosProfesor" dataKey="id" [rows]="10" [tableStyle]="{ 'min-width': '75rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Curso</th>
                    <th>Código del Curso</th>
                    <th>Asignatura</th>
                    <th>Profesor</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cursoProfesor>
                <tr>
                    <td>{{ cursoProfesor.curso.nivel.nombre }} - {{ cursoProfesor.curso.subnivel.nombre }} - {{
                        cursoProfesor.curso.grado.nombre }} - {{ cursoProfesor.curso.paralelo.nombre }} - {{
                        cursoProfesor.curso.jornada.nombre }}</td>
                    <td>{{ cursoProfesor.curso.codigo }}</td>
                    <td>{{ cursoProfesor.asignatura.nombre }}</td>
                    <td>{{ cursoProfesor.user.firstname }} {{ cursoProfesor.user.lastname }}</td>
                </tr>
            </ng-template>
        </p-table>
        <p>Listado de Estudiantes:</p>
        <p-table #dtEstudiante [value]="estudiantes" dataKey="id" [rows]="100" [loading]="loading"
            [globalFilterFields]="['apellidosNombres', 'cedula']" [tableStyle]="{ 'min-width': '75rem;'}">

            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" placeholder="Buscar estudiante..."
                            (input)="dtEstudiante.filterGlobal($any($event.target).value, 'contains')" />
                    </p-iconField>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="apellidosNombres">Apellidos y Nombres Completos<p-sortIcon
                            field="apellidosNombres" /></th>
                    <!-- <th pSortableColumn="nombres">Nombres<p-sortIcon field="nombres" /></th> -->
                    <th pSortableColumn="cedula">Cédula<p-sortIcon field="cedula" /></th>
                    <th>Trimestre I</th>
                    <th>Trimestre II</th>
                    <th>Trimestre III</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-estudianteRow>
                <tr>
                    <td>
                        {{ estudianteRow.apellidosNombres }}
                    </td>
                    <!--  <td>
                        {{ estudianteRow.nombres }}
                    </td> -->
                    <td>
                        {{ estudianteRow.cedula }}
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="estudianteRow.nota" min="0" max="100" />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="estudianteRow.nota" min="0" max="100" />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="estudianteRow.nota" min="0" max="100" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>