<div class="d-flex justify-content-center align-items-center vh-100 background-img">
  <div class="container">
    <div class="surface-card p-4 shadow-2 border-round-lg w-full lg:w-8">
      <div class="card shadow-sm border-0 rounded-lg">
        <div class="grid align-items-center">
          <div class="col-12 lg:col-5 p-3 flex align-items-center justify-content-center">
            <div class="p-fluid">
              <div class="text-center mb-4">
                <img src="{{imagenLogo?.value}}" alt="Image" class="mb-3 img-fluid logo" style="aspect-ratio: 3/4;" >
                <div class="text-900 text-3xl font-semibold text-primary mb-3">¡Bienvenido!</div>
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <p class="text-danger">{{loginError}}</p>
                <div class="form-group mb-3">
                  <label for="formUsername" class="form-label text-muted">Usuario</label>
                  <input type="email" formControlName="username" class="form-control shadow-sm" id="formUsername"
                    aria-describedby="emailHelp" placeholder="Ingrese su usuario" />
                  <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger mt-1">
                    <small *ngIf="username.errors?.['required']">Nombre de usuario es requerido.</small>
                    <small *ngIf="username.errors?.['minlength']">Debe contener 10 caracteres.</small>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label for="exampleInputPassword1" class="form-label text-muted">Contraseña</label>
                  <input type="password" formControlName="password" class="form-control shadow-sm"
                    id="exampleInputPassword1" placeholder="Contraseña" />
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger mt-1">
                    <small *ngIf="password.errors?.['required']">La contraseña es requerida.</small>
                  </div>
                </div>
                <button pButton pRipple label="Iniciar Sesión como Docente" type="submit" icon="pi pi-user"
                  class="w-full btn btn-primary shadow-sm rounded-pill"></button>

                <button id="btnNovedades" pButton pRipple label="Reportar novedades" type="button" icon="pi pi-info-circle" 
                  class="mt-3 w-full btn btn-info shadow-sm rounded-pill" (click)="reportarNovedades()"></button>
              </form>
            </div>
          </div>
          <div class="w-full">
            <p-divider />
          </div>
          <div class="col-12 lg:col-5 p-3 flex align-items-center justify-content-center">
            <div class="p-fluid">
              <div class="text-center mb-5">
                1758447286
                <br>
                123456
                <div class="text-900 text-3xl font-semibold text-success mb-3">¡Soy estudiante!</div>
              </div>
              <p-button label="Ver mis Calificaciones" icon="pi pi-book" styleClass="p-button-success btn-success shadow-sm rounded-pill" 
                (click)="verCalificaciones()"></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
 
</style>
